<div id="math" name="math" class="x-hidden" style="padding:4px">$ Q(x,y) = x^2 + 3y^2+xy-5x+3y \rightarrow min \\\text{ } 
  \\ \textbf{Алгоритм:} \\ \textbf{Входные данные: } x_0, y_0, \delta, \theta 
  \\ \textbf{шаг 1. } (x_{k+1},y_{k+1}) \leftarrow (x_k,y_k) - \delta  \nabla Q(x_k,y_k) 
  \\ \textbf{шаг 2. } \text{если } d(x_{k+1},y_{k+1}) - d(x_k,y_k) > \theta \text{ повторить шаг 1. }
  \\ \text{иначе напечатать } (x^*,y^*), Q(x^*,y^*) $</div>
<div id="x0" name="x0" class="x-hidden">$ x_0 $</div>
<div id="y0" name="y0" class="x-hidden">$ y_0 $</div>
<div id="delta" name="delta" class="x-hidden">$ \delta $</div>
<div id="theta" name="thets" class="x-hidden">$ \theta $</div>
<div id="xstar" name="xstar" class="x-hidden">$ x^* $</div>
<div id="ystar" name="ystar" class="x-hidden">$ y^* $</div>
<div id="qstar" name="qstar" class="x-hidden">$ Q(x^*,y^*) $</div>