<div id="math" name="math" class="x-hidden" style="padding:4px">
  $ Q(x,y) = |(3 - x)x - 2y + 1|^\cfrac{7}{3} + |(3-y)y -x + 1|^\cfrac{7}{3} \rightarrow min \\\text{ } 
  \\ \textbf{Алгоритм:} \\ \textbf{Входные данные: } 
  \\ x_0, y_0, 
  \\ h_0 \text{ - шаг по x }, h_1 \text{ - шаг по y }, \lambda \text{ - множитель}, \theta \text{ - критерий для завершения}
  \\ \textbf{Описание алгоритма:}
  \\ \text{1. см. Лекции по МО}
  \\ \text{2. https://ru.wikipedia.org/wiki/Метод_Хука_—_Дживса}
  $
</div>
<div id="x0" name="x0" class="x-hidden">$ x_0 $</div>
<div id="y0" name="y0" class="x-hidden">$ y_0 $</div>
<div id="h0" name="h0" class="x-hidden">$ h_0 $</div>
<div id="h1" name="h1" class="x-hidden">$ h_1 $</div>
<div id="lambda" name="lambda" class="x-hidden">$ \lambda $</div>
<div id="theta" name="thets" class="x-hidden">$ \theta $</div>
<div id="xstar" name="xstar" class="x-hidden">$ x^* $</div>
<div id="ystar" name="ystar" class="x-hidden">$ y^* $</div>
<div id="qstar" name="qstar" class="x-hidden">$ Q(x^*,y^*) $</div>