<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/ext-5.0.1/packages/ext-theme-classic/build/resources/ext-theme-classic-all.css">
    <script type="text/javascript" src="/static/ext-5.0.1/build/ext-all-debug.js"></script>
    <script type="text/javascript" src="/static/ext-5.0.1/build/packages/ext-locale/build/ext-locale-ru.js"></script>
    <script type="text/javascript" src="/static/app/shared/js/sharedFuncs.js"></script>
    <script type="text/javascript" src="/static/app/shared/js/overrides.js"></script>
    <script type="text/javascript" src="/static/app/projects/modules/{{module}}/init.js"></script>
  </head>
  <body></body>
</html>