<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/ext-5.0.1/packages/ext-theme-classic/build/resources/ext-theme-classic-all.css"/>
    <link rel="stylesheet" type="text/css" href="/static/app/shared/css/shared.css" />
    <script type="text/javascript" src="/static/ext-5.0.1/build/ext-all.js"></script>
    <script type="text/javascript" src="/static/ext-5.0.1/build/packages/ext-locale/build/ext-locale-ru.js"></script>
    <script type="text/javascript" src="/static/app/shared/js/sharedFuncs.js"></script>
    <script type="text/javascript" src="/static/app/shared/js/overrides.js"></script>
    <script type="text/javascript" src="/static/app/projects/init.js?program={{program}}"></script>    
    <script type="text/javascript" src="/static/app/shared/js/MathJax-2.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  <body></body>
</html>