<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/ext-5.0.1/packages/ext-theme-classic/build/resources/ext-theme-classic-all.css">
    <link rel="stylesheet" type="text/css" href="/static/app/css/shared.css" />
    <script type="text/javascript" src="/static/ext-5.0.1/build/ext-all.js"></script>
    <script type="text/javascript" src="/static/ext-5.0.1/build/packages/ext-locale/build/ext-locale-ru.js"></script>    
    <script type="text/javascript" src="/static/app/pages/lib/js/sharedFuncs.js"></script>
    <script type="text/javascript">
       Ext.Loader.setConfig({enabled:true, disableCaching:true});
       Ext.Loader.setPath('Ext.ux','/static/ext-5.0.1/examples/ux');
       Ext.require(['*']);
       Ext.onReady(function(){            
           Ext.tip.QuickTipManager.init();
           Ext.create('Ext.container.Viewport',{
               layout:'border',
               items:[{
                   region:'center',
                   layout:'fit',
                   border:false,
                   html:'<img src="{{static}}{{filename}}" class="centered" />',                   
                   dockedItems:[{
                       xtype:'toolbar',
                       items:[{
                           xtype:'button',
                           icon:'/static/app/img/save.png',
                           tooltip:'Сохранить',
                           disabled:true,
                           handler:function(){                               
                               savecontent(true,function(){});
                           }
                       },'-']
                   }]
               }]
           });
       });  
    </script>
  </head>
  <body></body>
</html>